@import "tailwindcss";
*{
  font-family: Inter;
}

.text-this{
  -webkit-text-stroke: 2px ;
  -webkit-text-stroke-color: rgba(153, 153, 153, 0.200);
}


html{
  scroll-behavior: smooth;
}

.all-shadow{
  box-shadow: 0 0  20px 0px #999;
}