@import "tailwindcss";

:root {
  --primary-color: #3269ff;
}


* {
  font-family: Inter;
}

.text-this {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgba(153, 153, 153, 0.200);

}


html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

.all-shadow {
  box-shadow: 0 0 20px 0px #999;
}

/* .glow{
  text-shadow:0 0  10px rgb(50, 50, 255),
              0 0 20px rgb(31, 31, 239)
  ;
} */


.glow {
  color: transparent;
  background: linear-gradient(180deg,
      #344ee0,
      #2139BA,
      #9aabff,
      transparent);
  padding: 20px;
  -webkit-background-clip: text;
  background-clip: text;

}


  /* background: linear-gradient(180deg,
      #344ee0,
      #2139BA,
      #9aabff,
      #2139BA); */

.glow-div {
  background: linear-gradient(180deg,
      #344ee0,
      #2139BA,
      #9aabff,
      #2139BA) !important;
}

*::selection {
  background: #0a80ff2f;
}

*::-webkit-scrollbar{
  display: none;
}