@import "tailwindcss";

:root {
  --primary-color: #3269ff;
}


* {
  font-family: Inter;
}

.text-this {
  -webkit-text-stroke: 2px;

  -webkit-text-stroke-color: rgba(153, 153, 153, 0.200);
  
}


html {
  scroll-behavior: smooth;
}

.all-shadow {
  box-shadow: 0 0 20px 0px #999;
}

/* .glow{
  text-shadow:0 0  10px rgb(50, 50, 255),
              0 0 20px rgb(31, 31, 239)
  ;
} */


.glow {
  color: transparent;
  background: linear-gradient(
    180deg,
    #344ee0,
    #2139BA,
    #9aabff,
    #2139BA
  );
  /* background-size: 100%; */
  padding: 20px;
  -webkit-background-clip: text;
  background-clip: text;

  /* text-shadow:
    0 0 10px rgba(255, 0, 128, 0.6),
    0 0 20px rgba(64, 224, 208, 0.6),
    0 0 40px rgba(123, 97, 255, 0.5); */

}

.glow-div{
    background: linear-gradient(
    180deg,
    #344ee0,
    #2139BA,
    #9aabff,
    #2139BA
  ) !important;
}